@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --color-salem-50: #f1fcf2;
    --color-salem-100: #dff9e4;
    --color-salem-200: #c0f2c9;
    --color-salem-300: #8ee7a0;
    --color-salem-400: #56d270;
    --color-salem-400: #2fb84c;
    --color-salem-600: #21983a;
    --color-salem-700: #1e7a32;
    --color-salem-800: #1c5f2b;
    --color-salem-900: #194e26;
    --color-salem-950: #082b12;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
